.comment{
    position: relative;
    img{
        height: 4rem;
        border-radius: 4rem;
    }

    div{
        position: relative;
        width: fit-content;
        left: 60%;
    }

    button{
        width: 6rem;
        display: inline;
    }
}