.build {
    --primary: darkgreen;
    --primary-hover: green;
    --primary-focus: lightgreen;
}

.redstone {
    --primary: maroon;
    --primary-hover: darkred;
    --primary-focus: tomato;
}

.lite {
    --primary: dodgerblue;
    --primary-hover: deepskyblue;
    --primary-focus: aqua;
}

.profileColor {
    --primary: dodgerblue;
    --primary-hover: deepskyblue;
    --primary-focus: aqua;
}