:root{
    --cloud: #E2E4ED;
    --cadet: #B6BAC8;
    --logan: #999EB2;
    --orange: #ffbb88;
    --blue: #8eb6f5;
    --indigo: #c58fff;
    --pink: #f58ee0;
    --base: #0F1014;
    --interface: #111216;
    --overlay: #131317;
    --soft: #43444D;
}