@page "/"

<header @onclick="setMessage">
    <h1>@welcomMessage</h1>
    <p>GetHack.craft has been created for everyone to post their small creation to inspire everyone in their building !</p>
    <p><small>Start searching or maybe you want to <a href="#">create an account ?</a></small></p>
</header>
<main>
    <Displayer nbDiv=50/>
</main>

@code{
    [Parameter]
    public string welcomMessage { get; set; } = "test";

    private void setMessage(){
        Random rand = new Random();
        String[] catchesPhrases = new String[10] {"1", "2", "3", "4", "5", "6", "7", "8", "9", "10"};

        welcomMessage = catchesPhrases[rand.Next(10)];
    }

    // TODO : faire en sorte de changer le titre sur reload
}