@inherits LayoutComponentBase
@using MySql.Data.MySqlClient;

    <nav id="mainNav" tabindex="1">
        <div></div>
        <section>
            @if (isProfilePage())
            {
                <div id="profileNav">
                    <ul>
                        <li>profile</li>
                        <li>loved</li>
                        <li>own</li>
                    </ul>
                    <div>
                        <a href=""><img src="placeholder.svg" alt=""></a>
                        <button></button>
                    </div>
                </div>
            }
            else
            {
                <div id="accueilNav">
                    <article>
                        <a href="#" class="profilePicture"><img src="placeholder.svg" alt="profile picture"></a>
                        <h3>Connection</h3>
                    </article>
                    <form action="" method="post">
                        <button>To Redstone</button>
                        <input type="text" name="" id="">
                        <button type="submit">Submit</button>
                    </form>
                </div>
            }
        </section>
        <div></div>
    </nav>
    <div id="main">
        @Body
    </div>

@code {
    [Inject]
    public NavigationManager? Nav {get;set;}

    public bool isProfilePage(){
        if (Nav is null)
        {
            return false;
        }
        return Nav.Uri.Contains("profile");
    }
}
