@inherits LayoutComponentBase

<nav id="mainNav">
    <section>
        <a href="#">
            <div data-nav="BuildHack"><img src="placeholder.svg" alt="blazorIcon"></div>
        </a>
        <a href="#">
            <div data-nav="RedHack"><img src="placeholder.svg" alt="blazorIcon"></div>
        </a>
        <a href="#">
            <div data-nav="LiteHack"><img src="placeholder.svg" alt="blazorIcon"></div>
        </a>
    </section>
    <section>
        <a href="#">
            <div data-nav="Profil"><img src="placeholder.svg" alt="blazorIcon"></div>
        </a>
    </section>
</nav>
@Body
<footer></footer>
