#mainNav{
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--contrast);
    width: 100%;
    background-color: var(--background-color);
    position: fixed;

    section{
        display: flex;
        flex-direction: row;
        margin: 0px;
    }

    a{
        padding: 0px;
        margin: 0.1rem;
    }

    div{
        width: 4rem;
        height: 4rem;
        margin-bottom: 1rem;
    }

    div[data-nav]::after{
        content: attr(data-nav);
        font-size: small;
        display: block;
        text-align: center;
    }

    img{
        width: 100%;
    }
}

body>*:not(nav){
    width: 95%;
    margin: auto;
}

body>header{
    padding-top: 6rem;
}

footer{
    height: 500px;
}
