<li class="comment">
    <img src="placeholder.svg" alt="pfp">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae a ducimus sint? Accusantium suscipit est delectus similique provident distinctio saepe, voluptatum voluptatibus perspiciatis praesentium amet dolore quod? Veritatis, doloribus ut?</p>
    <div>
        <button>Like</button>
        <button>Unlike</button>
    </div>
</li>