 <article class="hack" style="background-image: url(@imgUrl);">
   <section class="hHeader">
      
   </section>
   <section class="hMain"></section>
 </article>

 @code{
    [Parameter]
    public string imgUrl {get;set;} = "build.webp";
 }