@using MySql.Data.MySqlClient
@using GetCraft.Shared

<ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

@* @functions{
    FrizzusUtils.getEnvArray(".env");
    MySqlConnection fr = new MySqlConnection();
    MySqlCommand req = new MySqlCommand();
    User user = new User("username", "password", req);
} *@